<h1> Nuevo Dèpartamento</h1>

<form method="post">
     <label> Nombre: </label>
     <input type="text" name="nombre" class="form-control" />

    <label> Localidad: </label>
    <input type="text" name="localidad" class="form-control" />
    <br />
    <button class="btn btn-dark"> Insertar </button>


</form>