@model Departamento

<h1> Details</h1>

<p>
    <a asp-controller ="Departamentos"
        asp-action="Index"> Volver al INDEX </a>
</p>


<ul class="list-group"> 
    <li class="list-group-item"> 
        Id Departamento : @Model.IdDepartamento
    </li>

    <li class="list-group-item">
        Nombre : @Model.Nombre
    </li>

    <li class="list-group-item">
        Localidad : @Model.Localidad
    </li>


</ul>